/*** element styles ***/

body {
  background-color: black;
}


/*** main container ***/

.main {
  background-color: white;

  margin-top: 110px;
  padding-left: 100px;
  position: relative;
  min-width: 1200px;
  height: 500px;
}


/*** ryu container ***/

.ryu {
  float: left;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
  display: none;
}

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif')
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, ryu-cool {
  background-repeat: no-repeat;
}


/*** hadouken container ***/

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px;
  height: 90px;
  display: none;
  position: relative;
  top: 172px;
  left: -200px;
  float: left;
}

.explosion {
  background-image: url('../images/explosion.gif');
  background-repeat: no-repeat;
  display: none;
  width: 200px;
  height: 200px;
  position: absolute;
  right: 300px;
  top: 85px;
}


/*** how to container ***/

.howTo {
  padding-right: 100px;
  text-align: center;
  position: absolute;
  right: 0;
}

.logo {
  opacity: 0;
  position: absolute;
  bottom: -300px;
  right: 200px;
}

.howToText {
  font: bold 2em/150% Verdana;
  width: 800px;
  opacity: 0;
  position: relative;
  bottom: -300px;
  right: -90px;
  
}


/*** helper tools ***/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}